Search and/or retrieve a website's sitemap.xml file
If the desired link is not found in the initial sitemap, you can call this tool again to searching through additional sitemaps until the required link is located
