Search the PoE2 wiki with a provided search term
This tool should be used to gather general knowledge about the game
After receiving the search results, you use the wiki_page tool to load the content of a specific page
